@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* below code is from w3schools.com */

body {
    background-color: #222;
    color: #eee;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
  font-weight: 300;
}

#topbar {
  display: flex;
  background-color: #eeed;
  color: #222;
  padding: 0.4em;
  margin: 0.5em 1em;
  align-items: center;
  width: 95%;
  position:sticky;
  z-index: 9999;
  top: 0;
}

#topbar a, #topbar a:link, #topbar a:active {
  text-decoration: none;
  padding: 0.5em;
  margin-left: 0.25em;
  color: #ddd;
  background-color: #333;
  transition: color 100ms, background 100ms;
  display: flex;
  align-items: center;
}

#topbar a:hover {
  color: #333;
  background-color: #ddd;
}

#content {
  width: calc(100%*(4/5));
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Lato;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #555;
  border-radius: 0.45em;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 0.25em .5em;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  border-radius: 0.3em;
  background-color: #000c;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  border: #ccc, solid, 0.05em;
  border-radius: 0.3em;
}

#table {display: table;}
.row {display: table-row;}
#header {display: table-header-group;}
.cell {display: table-cell;}
#footer {display: table-footer-group;}
#body {display: table-row-group;}

#table {
  color: #111;
  width: 100%;
  border: 0.1em solid #555;
  background-color: #999;
  text-align: left;
}

.title {
  width: calc(100%*(1/3));
}

.cell {
  border: 0.1em solid #aaa;
  padding: 0.25em;
}

#header div.cell, #footer div.cell {
  background-color: #aac;
  border-color: #88a;
}

#header div.cell, #footer div.cell {
  font-weight: bold;
}

#footer div.cell {
  border-top: solid #000 0.1em;
}

#footer div div#gwa {
  display: inline-block;
  background-color: #555;
  color:#fff;
  border-radius: 0.45em;
  padding: 0.25em .5em;
  width: calc(30% - 14px);
}

#footer div div#gwa.bad {
  color:#f00
}